*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:  90%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: rgb(168, 216, 176);
    padding: 10px;
}
nav span{
    font-weight: bold;
    background-color:rgb(8, 69, 19) ;
    color: antiquewhite;
    padding: 5px;
    border-radius: 2rem;
    width: 150px;
    text-align: center;
}


nav label{
    font-weight: bold;
    font-size: x-large;
    color: rgb(8, 69, 19);
}

nav button{
    border-radius: 0.5rem;
    padding: 5px;
    color:  rgb(8, 69, 19);

}
nav button :hover{
    background-color: rgb(13, 126, 34);
}
.form-label{
    color:  rgb(13, 126, 34)!important;

}
.color{
    color:  rgb(13, 126, 34)!important;
}
.modal-content{
    background-color:#dcedc8 !important;
}
.price-quantite{
    display: grid;
    grid-template-columns: auto auto;

}
.price-quantite .quantite {
    margin-left: 15px;
}
.table{
    margin-top: 40px;
}
.table thead tr th{
    background-color:rgb(158, 212, 168) ;
    margin-left: 3px;
}